<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add_app</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    
    <link rel="stylesheet" href="/styles/lol1.css">

</head>

<body>

  <nav class="navbar navbar-inverse" style="padding: 6px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/app/" style="font-size: 30px;">NoteApp</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#" style="font-size: 20px; padding-left:40px;">Profile</a></li>
          <li><a href="/app//my_notes" style="font-size: 20px; padding-left:40px;">My Notes</a></li>
          <li><a href="#" style="font-size: 20px; padding-left:40px;">Settings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" style="font-size: 18px; padding-right:40px;"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>



  
  
  <form action="/app/submit"  style="padding-left:10%;padding-right: 10%;" method="POST">
    <div class="form-group">
      <label for="title" style="color: white">TITLE</label>
      <textarea class="form-control" rows="2" id="comment" name="title" style="background-color: rgb(29, 80, 98);color: white;font-size: 20px;opacity: 0.75"></textarea>
    </div>
<br>
    <div class="form-group">
      <label for="notes" style="color: white">NOTES</label>
      <textarea class="form-control" rows="12" id="comment" name="note" style="background-color: rgb(29, 80, 98);color: white;font-size: 20px;opacity: 0.75"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
  </form>



 
                

</body>
</html>                            




































<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <form action="/action_page.php">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>
-->